@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --primarycolor: #424241;
  --orange: #eabc30;
  --fontRegular: 'Montserrat', sans-serif;
  --fontOswald: 'Oswald', sans-serif;
}

body {
  background: -webkit-linear-gradient(0deg, #f5f5f7 25%, rgba(0, 0, 0, 0) 25%);
  background-color: #dbdbdd;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-start
}

.header-tools {
  display: flex;
  width: 25%;
  padding: 28px;
}

.header-tools span {
  margin: 13px 30px 15px 15px;
  font-size: 20px;
  color: var(--primarycolor);
  cursor: pointer;
}

.header-content {
  width: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
}

.logo {
  margin-right: 50px;
}

.logo img {
  width: 75px;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin: 30px 40px;
  padding: 10px 15px;
  font-size: 10pt;
  font-family: var(--fontRegular);
  font-weight: 400;
  color: var(--primarycolor);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s ease-out;
}

nav ul li a:hover {
  border-bottom: 2px solid var(--orange);
}

.activeLink {
  font-weight:bold;
  border-bottom: 2px solid var(--orange);
}

.poster-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
}

.yellow {
  background-image: linear-gradient(to right, #f8e48b, #e8b826);
}

.green {
  background-image: linear-gradient(to right, #7bdf87, #50e762);
}

.red {
  background-image: linear-gradient(to right, #ee89be, #d9529a);
}

.main-page {
  max-width: 1550px;
  width: 100%;
  padding: 40px 50px 0px;
  margin: auto;
  overflow: hidden;
}

.poster-background {
  position: relative;
  float: left;
  margin-right: 100px;
  margin-left: 30px;
  overflow: visible;
}

.poster-background img {
  width: 270px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.content-item {
  padding: 15px 50px;
}

.content-item h2 {
  font-size: 90pt;
  font-family: var(--fontOswald);
  letter-spacing: 14px;
  color: var(--primarycolor);
}

.content-item p {
  margin-bottom: 20px;
  font-size: 8pt;
  font-family: var(--fontRegular);
  color: var(--primarycolor);
}

.content-item h3 {
  font-size: 24pt;
  font-family: var(--fontRegular);
  font-weight: 300;
  color: var(--primarycolor);
  letter-spacing: 4px;
}

.arrow-move {
  position: absolute;
}

.prew {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  width: 35px;
  height: 35px;
  margin-left: -15px;
  background-color: #424242;
  font-size: 20px;
  color: #a0a0a0;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  margin-right: -15px;
  width: 35px;
  height: 35px;
  background-color: #424242;
  font-size: 20px;
  color: #a0a0a0;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.nextIcon {
  transform: rotate(180deg);
}

.orderBtn {
  margin: 30px 0;
  padding: 10px 30px;
  background-color: var(--orange);
  font-family: var(--fontRegular);
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.social-media {
  margin-top: -120px;
  float: right;
}

.social-media ul li {
  margin: 10px 0;
}

.social-media ul li a img {
  width: 30px;
}

.img-fruit {
  background-repeat: no-repeat
}

.fruits {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.active {
  display: block;
  animation: slider .3s;
}

.img-fruit {
  position: absolute;
  width: 200px !important;
  margin-top: -30px;
  right: 0;
  margin-right: -40px;
  top: 0;
}

.img-fruit2 {
  position: absolute;
  width: 100px !important;
  left: 50px;
  bottom: 20px;
}

.container-content{
  width:75%;
  float:right;
}

.flavours-container{
  margin:10px 25px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.flavour_item{
  position: relative;
  padding:10px;
  width:250px;
  background-color:#ececec;
  border-radius:6px;
  margin:10px 40px 30px 0px;
}

.fl-poster-div {
  display: flex;
  justify-content: center;
  padding:20px;
}

.fl-poster {
  width:150px;
}

.flavour_item h2 {
  padding:10px;
  font-size:18px;
  font-family: var(--fontRegular);
}

.flavour_item p {
  padding:0px 10px 10px;
  font-size:14px;
  font-family: var(--fontRegular);
}

.flavour_item h4 {
  padding:0px 10px 10px;
  font-size:14px;
  font-family: var(--fontRegular);
  color: #677c90;
}

.fruit-image {
  position: absolute;
  top:0;
  left:0;
  margin-left:-10px;
  margin-top:-10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  background-color:#fff;
  border-radius:50%;
  overflow: hidden;
  border:4px solid#dbdbdd;
}

.fruit-image img {
  width:25px;
}

/*animations*/
@keyframes slider {
  0% {
    animation-delay: 0.3s;
    animation-direction: alternate;
    transform: scale(0.5);
  }

  10% {
    animation-delay: 0.3s;
    animation-direction: alternate;
    transform: scale(0.6);
  }

  20% {
    animation-delay: 0.3s;
    animation-direction: alternate;
    transform: scale(0.7);
  }

  30% {
    animation-delay: 0.3s;
    animation-direction: alternate;
    transform: scale(0.8);
  }
}
